<div class="container">
  <div class="columns">

    <!-- left table -->
    <div class="column is-one-third left-content">
      <h3 class="is-size-3">Coming up soon:</h3>
      <div class="content">
        <ul>
          <li>
            <a href="#">Whiteboarding session (JS)</a>
          </li>
          <span class="is-size-7">Date: June 30, 2018</span>
          <br>
          <span class="is-size-7">Location: Coding Dojo</span>
          <br>
          <span class="is-size-7">Time: 6pm-8pm</span>
          <br>
          <span class="is-size-7">Attendees: 5 confirmed</span>
          <br>
          <li>
            <a href="#">Mock interviews (behavioral)</a>
          </li>
          <span class="is-size-7">Date: July 1, 2018</span>
          <br>
          <span class="is-size-7">Location: Starbucks</span>
          <br>
          <span class="is-size-7">Time: 12pm-1:30pm</span>
          <br>
          <span class="is-size-7">Attending: 6 confirmed</span>
          <br>
        </ul>
      </div>
      <form action="#" id="form-newgrp">
        <div class="field">
          <h3 class="is-size-3">Create a new group:</h3>
          <label class="label">Group Name</label>
          <div class="control has-icons-left">
            <input class="input" type="text" placeholder="ex. Javascript review">
            <span class="icon is-med is-left">
              <i class="fas fa-user-friends"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Date</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="date" placeholder="Text input">
            <span class="icon is-med is-left">
              <i class="fas fa-calendar" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Location</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="ex. Starbucks">
            <span class="icon is-med is-left">
              <i class="fas fa-map-pin"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Time</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="ex. 6pm">
            <span class="icon is-med is-left">
              <i class="far fa-clock" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <textarea class="textarea" placeholder="Brief description of what this study group will accomplish."></textarea>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>

        </div>
      </form>
    </div>

    <!-- right tables -->
    <div class="column is-two-thirds right-content">
      <div class="notification">
        <span class="is-size-5">
          <a href="#">Algorithm session - Intermediate</a>
          <br>
          <span class="is-size-7">Posted by
            <a href="#">User Name</a> at June 25, 2018
          </span>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit in expedita qui molestias quam hic amet molestiae
            porro, excepturi ducimus dolore ad natus veniam optio! Rerum nam earum ipsum dolores!
          </span>
          <span class="is-size-7">
            <a href="#">View full post</a>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>