<!-- Three main columns -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="notification one">
          <h1 class="is-size-4">Only positions you're actually interested in</h1>
          <p class="is-size-6 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, voluptatum! Dolorum quisquam aliquam suscipit?
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification two">
          <h1 class="is-size-4">Keep track of your interviews</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, voluptatum! Dolorum quisquam aliquam suscipit?
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification three">
          <h1 class="is-size-4">Share your experience with the community</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, voluptatum! </p>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>
<section class="center">
  <span class="section_buttons">
    <button class="button" id="show-login" (click)="showLoginForm()">Login</button>
    <button class="button" id="show-regist" (click)="showRegForm()">Register</button>
  </span>
</section>

<app-login *ngIf="loginFormShowing"></app-login>
<app-registration *ngIf="regFormShowing"></app-registration>