<section class="section">
  <div class="container">
    <img src="../../assets/img/working.png" alt="Two people coworking." class="main-img">
    <section class="form">
      <h1 class="form__title">Create an account so start accessing user-only content :) </h1>
      <div class="buttons">
        <a (click)="showRegForm()" class="button">Register</a>
        <a (click)="showLoginForm()" class="button">Login</a>
      </div>
      <app-login *ngIf="loginFormShowing"></app-login>
      <app-registration *ngIf="regFormShowing"></app-registration>
    </section>
    <div class="columns">
      <div class="column">
        <div class="notification main">
          <h1 class="column__title">Share with your peers</h1>
          <p class="column__content">
            Ever see a posting that a friend would be perfect for? Share it with the community in the job board.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification main">
          <h1 class="column__title">Join the discussion</h1>
          <p class="column__content">Step into the chatroom to chat with users currently online. Missed a great discussion? Don't worry, just browse
            the chatroom's archive to catch up on what you missed.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification main">
          <h1 class="column__title">Participate in study groups</h1>
          <p class="column__content">Boost your learning by attending a study group. Organize with the community by creating a post or join an existing
            one.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
