<!-- navbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="index.html">
      <p>JobBuddy</p>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <a href="dash.html" class="navbar-item">Dashboard</a>
    <a href="discuss.html" class="navbar-item">Discuss</a>
    <a href="#" class="navbar-item">Study Groups</a>
    <a href="#" class="navbar-item">Resources</a>
  </div>
</nav>
<!-- modal form -->
<div class="column has-text-centered">
  <p>See a job someone else might be interested it? Add it to the job board ✨ </p>
  <button id="show-create-job" class="button ">Add Job</button>
</div>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <header class="modal-card-head ">
        <p class="modal-card-title is-size-5">Add a new job</p>
      </header>
      <div class="field" id="dialog-form">
        <form id="add-job-form">
          <label for="title" class="label">Title: </label>
          <div class="control">
            <input type="text" class="input" name="title" [(ngModel)]="newJob.title">
          </div>
          <label for="desc" class="label">Description: </label>
          <div class="control">
            <input type="text" class="input" name="desc" [(ngModel)]="newJob.desc">
          </div>
          <label for="url" class="label">Perks (optional): </label>
          <div class="control">
            <input type="text" class="input" name="perks" [(ngModel)]="newJob.perks">
          </div>
          <label for="url" class="label">URL: </label>
          <div class="control">
            <input type="text" class="input" name="url" [(ngModel)]="newJob.url">
          </div>
          <div class="control">
            <button class="button is-primary is-fullwidth" (click)="addJobSubmit()">Submit</button>
          </div>
        </form>
        <button class="modal-close"></button>
      </div>
    </section>
  </div>
</div>
<!-- main content -->
<section class="section">
  <div class="container">
    <div class="column" *ngFor="let job of allJobs">
      <article class="media notification">
        <figure class="media-left">
          <span class="icon">
            <a href="#">
              <i class="fab  fa-2x fas fa-plus"></i>
            </a>
          </span>
        </figure>
        <div class="media-content">
          <div class="content">
            <h1 class="title is-size-4">{{ job.title }}</h1>
            <a href=job.url class="is-size-6">View posting!</a>
            <p *ngIf="job.perks" class="is-size-6">Perks: {{ job.perks }}</p>
            <p class="is-size-6">
              {{ job.description }}
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
