<div class="columns">
  <!-- prompt to show form -->
  <div class="left-col column has-text-centered is-one-third">
    <!-- form (hidden until triggered by user) -->
    <div class="add-job-form">
      <br>
      <p class="form-title">Add a new job</p>
      <span class="form-subtitle">See a job someone else might be interested in? Share it on the job board ✨
      </span>
      <!-- add new job form -->
      <div class="field">
        <form>
          <div class="control">
            <label for="title" class="label">Title: </label>
            <input type="text" class="input" name="title" [(ngModel)]="newJob.title">
            <span *ngIf="titleError" class="form-error">{{ titleError }}</span>
          </div>
          <div class="control">
            <label for="desc" class="label">Description: </label>
            <input type="text" class="input" name="desc" [(ngModel)]="newJob.desc">
            <span *ngIf="descError" class="form-error">{{ descError }}</span>
          </div>
          <div class="control">
            <label for="url" class="label">Perks (optional): </label>
            <input type="text" class="input" name="perks" [(ngModel)]="newJob.perks">
          </div>
          <div class="control">
            <label for="url" class="label">URL: </label>
            <input type="text" class="input" name="url" [(ngModel)]="newJob.url">
            <span *ngIf="urlError" class="form-error">{{ urlError }}</span>
          </div>
          <div class="control">
            <a class="button is-fullwidth is-primary" (click)="addJobSubmit()">Submit</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- right content -->
  <div class="column right-col-jobs">
    <article class="media notification" *ngFor=" let job of allJobs ">
      <figure class="media-left">
        <span class="icon">
          <i class="fas fa-angle-double-right"></i>
        </span>
      </figure>
      <div class="content">
        <h1 class="job-title">{{ job.title }}</h1>
        <span *ngIf="job.perks" class="is-size-6">
          <span class="desc">Perks:</span> {{ job.perks }}
        </span>
        <span class="is-size-6">
          <span class="desc">Description:</span> {{ job.description }}
        </span>
        <span>
          <span class="desc">Link: </span>
          <a href="http://{{job.url}}" target="_blank">View posting</a>
        </span>
        <span class="bookmark">
          <a (click)="likeJob(job)">
            <i class="fas fa-bookmark"></i>
          </a>

          Add to my likes list.
        </span>
      </div>
    </article>
  </div>
</div>
