p {
  color: #000;
}

.add-job-form {
  width: 58%;
  margin: 0 auto;
}

.right-col-jobs {
  overflow: scroll;
  vertical-align: top;
}

.columns {
  padding: 3vh 10vw;
  height: 70vh;
}

.button {
  margin-top: 10px;
}

.label {
  text-align: left;
}

.input {
  width: 100%;
}

.left-col {
  border-radius: 4px;
  border: 1px solid #dddddf;  
  background-color: #f5f5f5;
}

.column {
    padding: 0 .75rem;
}