<!-- begin main content -->
<div class="columns main">
  <!-- left table -->
  <div class="column is-one-third left-content">
    <h1 class="online-title">Currently Online</h1>
    <div class="content">
      <span *ngFor="let user of allActiveUsers">
        <p>
          <i class="fas fa-circle online-now"></i>
          {{ user.firstName }} {{ user.lastName }}</p>
      </span>
    </div>
  </div>
  <!-- right tables -->
  <div class="column">
    <div class="chatroom">
      <div class="chatroom-content">
        <span *ngFor="let msg of messages">
          <p>
            <span class="msg-name">{{ msg.name }}</span>: {{ msg.content }}</p>
        </span>
      </div>
    </div>
    <form>
      <p class="control is-expanded">
        <input class="input message-content is-full-width" type="text" name="message" [(ngModel)]="message.content">
      </p>
      <p class="control">
        <a class="button is-medium is-primary message-content" (click)="sendMessage()">
          Send Message
        </a>
      </p>
    </form>
  </div>
</div>
