<!-- begin main content -->
<div class="columns main">
  <!-- left table -->
  <div class="column is-one-third">
    <h1 class="is-size-3">Who's Online:</h1>
    <div class="content">
      <span *ngFor="let user of allActiveUsers">
        <p>{{ user.firstName }} {{ user.lastName }}</p>
      </span>
    </div>
  </div>
  <!-- right tables -->
  <div class="column">
    <div class="chatroom">
      <div class="chatroom-content">
        <span *ngFor="let msg of messages">
          <p>
            <strong>{{ msg.name }}</strong>: {{ msg.content }}</p>
        </span>
      </div>
    </div>
    <div class="field is-grouped">
      <form (submit)="sendMessage()">
        <p class="control is-expanded">
          <input class="input is-medium" type="text" name="message" [(ngModel)]="message.content">
        </p>
        <p class="control">
          <button class="button is-medium is-warning">
            Send Message
          </button>
        </p>
      </form>
    </div>
  </div>
</div>
