body {
  margin: 0;
}

.title {
  color: #fff;
}

.navbar {
  background-color: #b5dcdc;
}

.hero {
  font-family: "Cutive";
  background-image: linear-gradient(-225deg, #50A7C2 33%, #9ed0e0 109%);
  font-size: 50px;
}

.columns {
  padding: 3vh 10vw;
}

.column {
  padding: 0 .75rem;
}

.container {
  margin-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: c
}

.right-content {
  height: 70vh;
  overflow: auto;
}

.left-content {
  background-color: #f5f5f5;
  border: 1px solid #dddddf;
  border-radius: 4px;
}

.chatroom {
  border: 1px solid #dddddf;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 10px 20px;
  overflow: scroll;
}

.chatroom-content {
  min-height: 600px;
}
.online-now {
  color: #91c988;
}

.message-content {
  width: 100%;
}